//Colors
$primary: #0b0d17;
$secondary: #d0d6f9;
$third: #ffffff;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
);
//Font sizes
$h1-font-size: 150px;
$h2-font-size: 100px;
$h3-font-size: 56px;
$h4-font-size: 32px;
$h5-font-size: 26px;
$sh1-font-size: 28px;
$sh2-font-size: 14px;
$nav-font-size: 16px;
$p-font-size: 18px;
//letter spaceing
$h5-cs: 4.75px;
$sh2-cs: 2.35px;
$nav-cs: 2.7px;
//Fonts
$barlow: "Barlow Condensed", normal;
$belfair: "Bellefair", normal;
